{% assign s = site.data.socials %}

{% if s.email %}
  <a href="mailto:{{ s.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
{% endif %}
{% if s.github_username %}
  <a href="https://github.com/{{ s.github_username }}" title="GitHub" target="_blank" rel="noopener noreferrer"
    ><i class="fa-brands fa-github"></i
  ></a>
{% endif %}
{% if s.inspirehep_id %}
  <a href="https://inspirehep.net/authors/{{ s.inspirehep_id }}" title="INSPIRE-HEP" target="_blank" rel="noopener noreferrer">
    <i class="ai ai-inspire"></i>
  </a>
{% endif %}
{% if s.scholar_userid %}
  <a href="https://scholar.google.com/citations?user={{ s.scholar_userid }}" title="Google Scholar" target="_blank" rel="noopener noreferrer">
    <i class="ai ai-google-scholar"></i>
  </a>
{% endif %}
{% if s.orcid_id %}
  <a href="https://orcid.org/{{ s.orcid_id }}" title="ORCID" target="_blank" rel="noopener noreferrer"><i class="ai ai-orcid"></i></a>
{% endif %}
{% if s.rss_icon %}
  <a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed"><i class="fa-solid fa-rss"></i></a>
{% endif %}
